.card {
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px $background-theme-primary;
  width: 37%;
  height: 350px;

  .card-img {
    filter: brightness(70%);
    border-radius: 10px;
    position: absolute;
    width: 37%;
    object-fit: cover;
    height: 350px;
  }

  .card-title {
    text-align: center;
    color: $text-theme;
    opacity: 1;
    position: absolute;
    margin-top: 10px;
    font-size: 1.3rem;
    // left: 220px;

    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .card-content {
    color: $text-theme;
    padding: 10px 25px;
    position: relative;
    text-shadow: 0 5px 5px black;
    opacity: 0;

    .card-decription-title {
      font-weight: 800;
    }

    .card-details {
      font-size: 1rem;
    }
    button {
      cursor: pointer;
      margin: 20px 0;
      padding: 8px 15px;
      font-size: 0.9rem;
      font-weight: 700;
      border: none;
      border-radius: 2px;

      // color: #1ed760;
      background-color: $background-theme-primary;
    }
  }
}

.card:hover {
  .card-img {
    filter: brightness(50%) blur(2px);
  }
  .card-title {
    opacity: 0;
  }
  .card-content {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .card {
    width: 40%;
    .card-img {
      width: 40%;
    }

    .card-title {
    }

    .card-content {
      padding: 9px 14px;
      text-align: center;

      .card-decription-title {
        margin-top: 0;
        font-weight: 800;
        font-size: 1.1rem;
      }

      .card-details {
        font-size: 0.85rem;
      }
      button {
        margin: 5px 0;
        padding: 4px 7px;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .card {
    width: 40%;
    .card-img {
      width: 40%;
    }

    .card-title {
    }

    .card-content {
      padding: 9px 14px;
      text-align: center;

      .card-decription-title {
        font-weight: 800;
        font-size: 0.9rem;
      }

      .card-details {
        font-size: 0.7rem;
      }
      button {
        margin: 5px 0;
        padding: 4px 7px;
        font-size: 0.7rem;
        font-weight: 700;
      }
    }
  }
}
