.exercises-carousel-container {
  text-align: center;
  margin-block: 100px;

  .carousel-title {
    font-size: 2.5rem;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    // font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 3rem);
    text-shadow: 2px 2px 0 #3ea968, 4px 4px 0 #2e8f57, 6px 6px 0 #207b47,
      8px 8px 0 #136836, 10px 10px 0 #084c26, 12px 12px 0 #003215,
      14px 14px 6px rgba(0, 0, 0, 0.3);
    animation: neon 1.5s ease-in-out infinite alternate;

    @keyframes neon {
      from {
        text-shadow: 2px 2px 5px #3ea968, 4px 4px 5px #2e8f57,
          6px 6px 5px #207b47, 8px 8px 5px #136836, 10px 10px 5px #084c26,
          12px 12px 5px #003215, 14px 14px 10px rgba(0, 0, 0, 0.6);
      }
      to {
        text-shadow: 2px 2px 15px #3ea968, 4px 4px 15px #2e8f57,
          6px 6px 15px #207b47, 8px 8px 15px #136836, 10px 10px 15px #084c26,
          12px 12px 15px #003215, 14px 14px 20px rgba(0, 0, 0, 0.9);
      }
    }
  }
  .swiper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;

    .swiper-pagination-bullet {
      background-color: $background-theme-primary !important;
    }
  }

  .swiper-slide {
    background-color: #181818;
    color: $text-theme;
    background-position: center;
    background-size: cover;
    width: 325px;
    height: 100%;
    text-transform: capitalize;
    margin: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px $background-theme-primary;

    img {
      opacity: 0.9;
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      filter: invert(90%);
    }

    .carousel-slide-text {
      text-shadow: 1px 1px 7px $background-theme-primary;
      margin: 0;
      padding: 0;
      padding-top: 20px;
      font-size: 1.7rem;
    }
  }

  .swiper-button-prev {
    color: $background-theme-primary;
  }

  .swiper-button-next {
    color: $background-theme-primary;
  }

  .swiper-pagination-bullet-active {
    background-color: $background-theme-secondary !important;
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .exercises-carousel-container {
    margin-block: 50px;

    .carousel-title {
      font-size: 2rem;
      letter-spacing: 0.8px;
      font-weight: 900;
    }

    .swiper-slide {
      width: 250px;

      .carousel-slide-text {
        padding-top: 20px;
      }
    }

    .swiper-button-prev {
      left: -7px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.7rem !important;
      font-weight: 900;
    }

    .swiper-button-next {
      right: -7px;
    }
  }
}
@media screen and (max-width: 320px) {
  .exercises-carousel-container {
    margin-block: 50px;

    .carousel-title {
      font-size: 2rem;
      letter-spacing: 0.8px;
      font-weight: 900;
    }

    .swiper-slide {
      width: 250px;

      .carousel-slide-text {
        padding-top: 20px;
      }
    }

    .swiper-button-prev {
      left: -7px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.7rem !important;
      font-weight: 900;
    }

    .swiper-button-next {
      right: -7px;
    }
  }
}
