// @import "~@mui/icons-material/ArrowRightAltRounded";

.exercises-carousel-container {
  text-align: center;
  margin-block: 100px;

  .carousel-title {
    font-size: 2rem;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 800;

    color: $accent;
  }
  .swiper {
    width: 97%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;

    .swiper-pagination-bullet {
      background-color: $accent !important;
    }
  }

  .swiper-wrapper {
    // width: 70px !important;
  }
  .swiper-slide {
    background-color: #181818;
    color: $text;
    background-position: center;
    background-size: cover;
    width: 325px;
    height: 100%;
    text-transform: capitalize;
    margin: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px $accent;

    img {
      opacity: 0.9;
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      filter: invert(90%);
    }

    .carousel-slide-text {
      text-shadow: 1px 1px 7px $accent;
      margin: 0;
      padding: 0;
      padding-top: 20px;
      font-size: 1.7rem;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $accent;
    font-size: 20px;
    cursor: pointer;
    top: 96% !important;
  }

  .swiper-button-next {
    right: 40% !important;
  }

  .swiper-button-prev {
    left: 40% !important;
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .exercises-carousel-container {
    margin-block: 50px;

    .carousel-title {
      font-size: 2rem;
      letter-spacing: 0.8px;
      font-weight: 900;
    }

    .swiper-slide {
      width: 250px;

      .carousel-slide-text {
        padding-top: 20px;
      }
    }

    .swiper-button-prev {
      left: -7px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.7rem !important;
      font-weight: 900;
    }

    .swiper-button-next {
      right: -7px;
    }
  }
}
@media screen and (max-width: 320px) {
  .exercises-carousel-container {
    margin-block: 50px;

    .carousel-title {
      font-size: 2rem;
      letter-spacing: 0.8px;
      font-weight: 900;
    }

    .swiper-slide {
      width: 250px;

      .carousel-slide-text {
        padding-top: 20px;
      }
    }

    .swiper-button-prev {
      left: -7px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.7rem !important;
      font-weight: 900;
    }

    .swiper-button-next {
      right: -7px;
    }
  }
}
