.search-exercises {
  width: 100%;
  margin-top: 80px;
  text-align: center;

  .search-bar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;

    @media (max-width: 1024px) {
      width: 85%;
    }

    @media (max-width: 768px) {
      width: 80%;
      margin-block: 20px;
    }

    @media (max-width: 426px) {
      width: 100%;
    }

    @media (max-width: 375px) {
      width: 100%;
    }

    .exercises-input-with-dropdown {
      z-index: 2;

      .exercises-input-search-bar {
        width: 0;
        max-width: 0;
        opacity: 0;
        padding: 0;
        border-radius: 45px;
        border: 1px solid $background-input-field;
        background-color: $background-input-field;
        color: $text-input-field;
        font-size: medium;
        transition: all 0.4s ease-in-out;

        &.open-input {
          width: 30vw;
          max-width: 100%;
          opacity: 1;
          padding: 10px 20px;

          @media (max-width: 1024px) {
            width: 60vw;
          }

          @media (max-width: 768px) {
            width: 60vw;
          }

          @media (max-width: 426px) {
            width: 60vw;
          }

          @media (max-width: 375px) {
            width: 80vw;
          }
        }
      }
      input::placeholder {
        color: $text-input-field;
      }

      input:focus {
        outline: none;
      }

      .drop-down {
        position: absolute;
        width: 30vw;
        border: 1px solid $background-input-field;
        background-color: $exercise-card-background;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 5px;
        text-align: left;
        transition: all 0.4s ease-in-out;
        display: none;

        @media (max-width: 1024px) {
          width: 60vw;
        }

        @media (max-width: 768px) {
          width: 60vw;
        }

        @media (max-width: 426px) {
          width: 60vw;
        }

        @media (max-width: 375px) {
          width: 80vw;
        }

        &.dropdown-active {
          display: inherit;
        }

        .drop-down-item {
          cursor: pointer;
          border-bottom: 1px solid $background;
          padding: 10px 20px;
          background-color: $exercise-card-background;
          color: $text-input-field;
          font-size: 1rem;
        }

        .drop-down-item:hover {
          background-color: $accent-hover;
          color: #000;
        }
      }

      .drop-down:empty {
        border: none;
      }
    }
    .search-button {
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;

      .search-icon {
        cursor: pointer;
        color: $text-secondary;
        background-color: $accent;

        border: 1px solid $background-input-field;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        padding: 10px;
      }
    }
  }

  .exercises {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2.5rem;
    justify-items: center;
    padding: 1.5rem;
    width: 100%;
    margin-block: 50px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @media (max-width: 426px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @media (max-width: 375px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.MuiPagination-root {
  button {
    color: $text !important;
  }
}

.MuiPaginationItem-root.Mui-selected:hover {
  background-color: $accent-hover !important;
}

.MuiPaginationItem-root:hover {
  background-color: $accent-hover !important;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: $accent !important;
  color: $text !important;
}

.MuiPaginationItem-ellipsis {
  color: $accent !important;
}

.css-wjh20t-MuiPagination-ul {
  li {
    width: 32px;
  }
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 0.8rem;
}
