.exercise-page-container {
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
  .exercise-page-container {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 480px) {
  .exercise-page-container {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .exercise-page-container {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 320px) {
  .exercise-page-container {
    margin-top: 7rem;
  }
}
