@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Tourney:wght@600&display=swap");

.loader-container {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .blue-theme-gif-logo {
    height: 200px;
    width: 200px;
  }

  .loader {
    color: $accent;
    font-size: 2rem;
    // font-family: "Orbitron", sans-serif;
    font-family: "Tourney", cursive;
  }
  .message {
    color: $text;
    font-size: 1.5rem;
    line-height: 3rem;
    // font-family: "Orbitron", sans-serif;
    font-family: "Tourney", cursive;
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 320px) {
}
