.my-profile-container {
  padding: 25px;
  min-height: 86vh;
  // height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;

  .user-profile-info-card-container {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-profile-small-card-container {
    // height: ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .my-profile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 425px) {
  .my-profile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
