#nav {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 10px;
  text-shadow: 0 1px 10px #000;
  color: $text;
  backdrop-filter: blur(5px);

  @media (max-width: 1024px) {
    padding: 0 3rem;
  }

  @media (max-width: 768px) {
    padding: 0 3rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }

  @media (max-width: 320px) {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 10px;
    text-shadow: 0 1px 10px #000;
    color: $text;
    backdrop-filter: blur(5px);
  }

  #heading {
    cursor: pointer;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: $accent;

    @media (max-width: 1024px) {
      font-size: 1.8rem;
    }

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }

    @media (max-width: 480px) {
      font-size: 1.5rem;
    }

    @media (max-width: 320px) {
      font-size: 1.5rem;
    }
  }

  .login-signup-div {
    display: flex;
    flex-direction: row;
  }

  .links {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .profile-avatar {
      // padding: 2px;
      cursor: pointer;
      background-color: $background;
      color: $accent;
      border: 2px solid $accent;
      width: 40px;
      height: 40px;
    }

    .link {
      color: $text;
      text-decoration: none;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        // width: 100%;
        width: 0;
        height: 2px;
        background-color: $accent;
        // transform: scaleX(0);
        transition: width 0.3s ease;
      }

      &:hover::after {
        // transform: scaleX(1);
        width: 100%;
      }
    }

    .login-btn {
      cursor: pointer;
      position: relative;
      padding: 10px 20px;
      background-color: $secondary-button;
      color: $text;
      border-radius: 6px;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transform-style: preserve-3d;
    }
    .find-exercise-btn:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.1)
      );
      border-radius: 6px;
      opacity: 0;
      transform-origin: 50% 0%;
      transform: scaleY(0.1) rotateX(90deg);
      transition: all 0.3s ease;
    }

    .login-btn:hover {
      background-color: $secondary-button-hover;
      color: $text;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
      transform: translateY(-2px) translateZ(2px);
    }

    .login-btn:hover:before {
      opacity: 1;
      transform: scaleY(1) rotateX(0deg);
    }

    .login-btn:focus {
      outline: none;
      box-shadow: 0 0 0 2px #000, 0 0 0 4px $accent;
      transform: translateY(0px) translateZ(2px);
    }

    .login-btn:focus:before {
      opacity: 1;
      transform: scaleY(1) rotateX(0deg);
    }
  }

  .account-menu-custom-style {
    padding: 0 !important;
  }

  .delete-account-text {
    color: red !important;
  }
}
.MuiMenu-paper {
  background-color: $background-hover !important;
  color: $text !important;
  box-shadow: 0 0px 1px $accent !important;
}

.MuiMenuItem-root {
  // height: auto !important;

  // @media (max-width: 1024px) {
  //   height: auto !important;
  // }

  // @media (max-width: 768px) {
  //   height: auto !important;
  // }

  // @media (max-width: 480px) {
  //   height: auto !important;
  // }

  // @media (max-width: 320px) {
  //   height: auto !important;
  // }
}

.account-menu-dropdown-icon {
  margin: 0 10px 0 -4px !important;
  width: 23px !important;
  height: 23px !important;
  color: $accent !important;
  background-color: $background-hover !important;

  @media (max-width: 1024px) {
    width: 20px !important;
    height: 20px !important;
  }

  @media (max-width: 768px) {
    width: 20px !important;
    height: 20px !important;
  }

  @media (max-width: 480px) {
    width: 18px !important;
    height: 18px !important;
  }

  @media (max-width: 320px) {
    width: 18px !important;
    height: 18px !important;
  }
}

.line {
  background-color: $accent !important;
}
