.portal-type {
  text-align: center;
  position: fixed;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #292929;
  //   padding: 20px;
  z-index: 1000;

  display: flex;
  justify-content: space-around;
  //   flex-direction: column;
  align-items: center;

  height: 50px;
  width: 400px;

  div {
    width: 100%;
    padding: 10px;
    cursor: pointer;

    span {
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--text-theme);
    }
  }

  .login-selected {
    background-color: #252525ba;
    border-right: 3px solid var(--background-theme-primary);
    border-bottom: 3px solid var(--background-theme-primary);
    border-bottom-right-radius: 50px;

    span {
      filter: brightness(50%);
    }
  }
  .signup-selected {
    background-color: #252525ba;
    border-left: 3px solid var(--background-theme-primary);
    border-bottom: 3px solid var(--background-theme-primary);
    border-bottom-left-radius: 50px;

    span {
      filter: brightness(50%);
    }
  }
}
