.recipes-page-container {
  height: 100vh;
  position: relative;
}

.smile-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  text-align: center;

  svg {
    color: $accent !important;
    height: 25%;
    width: 25%;
  }
  .recipe-page-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: $text;

    @media (max-width: 1024px) {
      font-size: 1.5rem;
    }

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }

    @media (max-width: 320px) {
      font-size: 0.875rem;
    }

    &:nth-child(2) {
      margin-bottom: 20px;
      color: $accent;
    }
  }
}
