.exercise-card-div {
  width: 100vw;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 320px) {
  .exercise-card-div {
    margin-top: 30px;
    // flex-direction: column;
  }
}
