:root {
  --background-theme-primary: #1ed760;
  --background-theme-primary-transparent: #1ed760ba;
  --carousel-theme: #fff;
  --background-theme-secondary: #000;
  --text-theme: #e3e3e3;
  --text-theme-transparent: #e3e3e3ba;
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #292929;

  overflow-x: hidden;
  user-select: none;
}

body.modal-open {
  overflow-y: hidden !important;
  // position: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.modal-open {
  overflow-y: hidden;
}

// .container {
//   text-align: center;
// }
// ::-webkit-scrollbar {
//   display: none;
// }

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--background-theme-primary),
    var(--background-theme-secondary)
  );
  border-radius: 10px;
}

.testing {
  position: absolute;
  top: 20%;
  left: 50%;
}

@import "_loader.scss";
@import "_navbar.scss";
@import "_home.scss";
@import "_card.scss";
@import "_exerciseCard.scss";
@import "_exercises.scss";
@import "_carousel.scss";
@import "_sectionCards.scss";
@import "_homeBanner.scss";
@import "_exercise.scss";
@import "_recipe.scss";
@import "_detailsSection.scss";
@import "_exercisesPage";
@import "_loginModal.scss";
@import "_portal.scss";
