:root {
  --swiper-navigation-size: 30px;
}

// //dark
// $text: #ffffff;
// $background: #1d1d1d;
// $primary-button: #ff6347;
// $secondary-button: #6c757d;
// $accent: #008080;

// //neon
// $text: #f0f0f0;
// $background: #2e2e2e;
// $primary-button: #ff6eff;
// $secondary-button: #00ffd1;
// $accent: #ffca1c;

// //grainy
// $text: #ffffff;
// $background: #404040;
// $primary-button: #ff6347;
// $secondary-button: #808080;
// $accent: #00aeef;

// //something else
// $text: #ffffff;
// $background: #222222;
// $primary-button: #ff4081;
// $secondary-button: #757575;
// $accent: #00bcd4;

//something
$text: #ffffff;
$text-secondary: #000000;
$background: #333333;
$background-hover: #404040;
$background-transparent: #333333ba;
$primary-button: #ff6b6b;
$primary-button-hover: #ff4d4d;
$secondary-button: #808080;
$secondary-button-hover: #a6a6a6;
$accent: #00b3e6;
$accent-hover: #00a3cc;

$exercise-card-background: #191919;

$background-input-field: #606060;
$text-input-field: #c4c4c4;
$text-input-field-secondary: #ccc;
